<body>
    <header>
        <h1>Meat-Up™ Attendees</h1>
    </header>

    <h2>Edit {{attendee.name}}</h2>

    <form method="POST" action="/companies/{{id}}?_method=PATCH">
        <div>
            <label for="name">Name of Company</label>
            <input type="text" name="name" value="{{company.name}}">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="location" value="{{company.location}}">
        </div>

        <button type="submit">Add Company</button>
    </form>

    <a href="/companies/{{id}}">Back to {{company.name}}</a>

</body>