<header>
    <h1>Murph's Meat-Up™</h1>
</header>
<!-- Navbar goes here -->

<!-- Page Layout here -->

<body>
    <div class="container">
        <!-- Page Content goes here -->


        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/bbq.jpg" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" />The special grill needs your meat ...
                <i class="material-icons right" />more_vert</i>
                </span>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" />Card Title
                <i class="material-icons right" />close</i>
                </span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>

    </div>

    </div>

    <table class="centered highlight white">
        <thead>
            <tr>
                <th>Name:</th>
                <th>Gender:</th>
                <th>Meat:</th>
            </tr>
        </thead>

        <tbody>
            {{#each attendee}}
            <tr>
                <td>
                    <a href="/users/{{_id}}" />{{name}}</a>
                </td>
                <td>
                    {{gender}}
                </td>

                <td>
                    <a href="/users/{{_id}}/meats/" />{{#each meat}}{{name}}, {{/each}}</a>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    <div id="button-pad">
        <div class="center-align">
            <a class="waves-effect waves-light btn teal lighten-1" href="/users/new" />
            <i class="material-icons left" />restaurant</i>Make me a meat user!</a>
        </div>
    </div>
</body>