<body>
    <header>
        <h1>Meat-Up™ Attendees</h1>
    </header>

    <h2>{{attendee.name}}</h2>

    <img class="profile" src="{{attendee.image}}">

    <table class="centred white">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="center">Gender: {{attendee.gender}}</td>
            </tr>
            <tr>
                <td class="center">Age: {{attendee.age}}</td>
            </tr>
            <tr>
                <td class="center">Hobbies: {{attendee.hobbies}}</td>
            </tr>
            <tr>
                <td class="center">Meat: {{attendee.meat}}</td>
            </tr>
            <tr>
                <td class="center">Preparation: {{attendee.preparation}}</td>
            </tr>
            <tr>
                <td class="center">Side: {{attendee.side}}</td>
            </tr>
        </tbody>
    </table>


    <a href="/companies/{{companyId}}/sodas/{{soda._id}}/edit">Edit {{soda.name}}</a>

    <form method="POST" action="/companies/{{companyId}}/sodas/{{soda._id}}?_method=DELETE">
        <button type="submit">Delete This Soda</button>
    </form>
</body>