<header>
    <h1>Meat-Up™ Attendees</h1>
</header>

<h1>{{attendee.name}}</h1>

<img src="{{attendee.image}}">
<p>Gender: {{attendee.gender}}</p>
<p>Age: {{attendee.age}}</p>
<p>Hobbies: {{attendee.hobbies}}</p>
<p>Meat: {{attendee.meat}}</p>
<p>Preparation: {{attendee.preparation}}</p>
<p>Side: {{attendee.side}}</p>

<a href="/companies/{{companyId}}/sodas/{{soda._id}}/edit">Edit {{soda.name}}</a>

<form method="POST" action="/companies/{{companyId}}/sodas/{{soda._id}}?_method=DELETE">
    <button type="submit">Delete This Soda</button>
</form>