<h1>{{attendee.name}}</h1>

<p>{{attendee.gender}}</p>
<p>{{attendee.age}}</p>
<p>{{attendee.hobbies}}</p>
<p>{{attendee.meat}}</p>
<p>{{attendee.preparation}}</p>
<p>{{attendee.side}}</p>

<a href="/companies/{{companyId}}/sodas/{{soda._id}}/edit">Edit {{soda.name}}</a>

<form method="POST" action="/companies/{{companyId}}/sodas/{{soda._id}}?_method=DELETE">
    <button type="submit">Delete This Soda</button>
</form>