<body>
    <header>
        <h1>Meat-Up™ Attendees</h1>
    </header>

    <h2>{{attendee.name}}</h2>
    <div class="container">
        
        <img class="profile" src="{{attendee.image}}" />

        <table class="centred white">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="center">Gender: {{attendee.gender}}</td>
                </tr>
                <tr>
                    <td class="center">Age: {{attendee.age}}</td>
                </tr>
                <tr>
                    <td class="center">Hobbies: {{attendee.hobbies}}</td>
                </tr>
                <tr>
                    {{#each attendee.meat}}
                    <td class="center">Meat: {{name}}</td>
                    {{/each}}
                </tr>
                <tr>
                    <td class="center">Preparation: {{attendee.preparation}}</td>
                </tr>
                <tr>
                    <td class="center">Side: {{attendee.side}}</td>
                </tr>
            </tbody>
        </table>

        <div id="button-pad">
            <div class="center-align">
                <a class="waves-effect waves-light btn teal lighten-1" href="/users/{{attendee.id}}/meats" />
                <i class="material-icons left" />restaurant</i>Check out my meat!</a>
            </div>
        </div>

        <div class="center-align">
            <a class="waves-effect waves-light btn amber lighten-2" href="/users/{{attendee.id}}/edit">
                <i class="material-icons left">autorenew</i>Change {{attendee.name}}</a>
        </div>


        <form method="POST" action="/users/{{attendee.id}}?_method=DELETE">
            <div class="center-align">
                <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action" />Delete {{attendee.name}}
                <i class="material-icons left">clear</i>
                </button>
            </div>
        </form>
    </div>
</body>