<header>
    <h1>We Gots The Meats!</h1>
</header>

<div id="button-pad">
    <div class="center-align">
        <a class="waves-effect waves-light btn teal lighten-1" href="/users">
            <i class="material-icons left">home</i>Take me home (country roads)</a>
    </div>
</div>

<h2>{{attendee.name}}'s Meats</h2>

<body>
    <div class="container">
        <!-- Page Content goes here -->


        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://i.imgur.com/hEvJlAm.gif" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" />Here's what {{attendee.name}} has on the grill already ...
                <i class="material-icons right" />more_vert</i>
                </span>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" />Card Title
                <i class="material-icons right" />close</i>
                </span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <table class="centered highlight white">
        <tbody>
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Species:</th>
                    <th>Type:</th>
                </tr>
            </thead>
            {{#each attendee}}
            <tr>
                <td>
                    {{#each meat}}
                        <a href="/users/{{../_id}}/meats/{{_id}}" >{{name}}</a>
                    {{/each}}</a>
                </td>
                <td>
                    {{#each meat}}{{species}}{{/each}}
                </td>

                <td>
                    {{#each meat}}{{type}}{{/each}}
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>

    <div id="button-pad">
        <div class="center-align">
            <a class="waves-effect waves-light btn teal lighten-1" href="/users/{{attendee.id}}/meats/new" />
            <i class="material-icons left" />restaurant</i>Let's add some meat!</a>
        </div>
    </div>


    <div class="center-align">
        <a class="waves-effect waves-light btn teal lighten-2" href="/users/{{attendee.id}}">
            <i class="material-icons left">face</i>Back to meat user</a>
    </div>

</body>